### Apresentando o Pandas

* Biblioteca para tratamento e análise de dados
* Consegue trabalhar facilmente com vários formatos de arquivo (CSV, JSON, XLSX...)

In [1]:
import pandas as pd

### Método read_csv()

* Lê arquivos no formato CSV
* Coloca os dados em formato tabular chamado DataFrame

In [10]:
arquivo = pd.read_csv('3_dados.csv',delimiter = ';',names=['nome','idade'])

In [11]:
arquivo

      nome  idade
0     josé     30
1  gabriel     25
2    lucas     15
3      ana     45
4    maria     60
5   victor     70

### Método read_json()

* Lê os arquivos no formato JSON
* Coloca os dados em um formato tabular chamado DataFrame

In [14]:
arquivojson = pd.read_json('3_dados.json')

In [15]:
arquivojson

      nome  idade
0     josé     30
1  gabriel     25
2    lucas     15
3      ana     45
4    maria     60
5   victor     70

### Salvando um arquivo com o Pandas

In [16]:
# Transformando um arquivo JSON em CSV, coloca-se false no Index para que não salve a informação dos indices que foram colocados automaticamente no dataframe do arquivo json

arquivojson.to_csv('dados_to_csv.csv', index=False)